.App {
  text-align: center;
}

.calculator {
  width: 300px;
  height: 400px;
  background-color: #cef;
  border: 1px solid #1795d4;
  border-radius: 10px;
  box-shadow: 5px 10px 10px -10px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
}
