.calculator {
  width: 280px;
  background-color: #cef;
  border: 1px solid #1795d4;
  border-radius: 10px;
  box-shadow: 5px 10px 10px -10px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  overflow: hidden;
}

.screen {
  padding: 10px;
  background-color: white;
  border: 1px solid #1795d4;
  border-radius: 6px;
  margin: 10px;
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5;
  white-space: nowrap;
}

.brand {
  padding: 15px;
  background-color: #1795d4;
  img {
    width: 50%;
    height: auto;
  }
}

.pad {
  display: flex;
  flex-wrap: wrap;
}

.numberKeys {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 210px;

  button {
    width: 33%;
    border: 0;
    border-radius: 0;
    background-color: #373d45;
    color: white;
    margin-top: 1px;
    font-size: 1em;
    line-height: 3;
  }
}

.operatorKeys {
  width: 70px;
}
